<!-- <h1>{{ user.firstName }} {{ user.lastName }}</h1>

<input type="text" [(ngModel)]="user.firstName">

<button (click)="doSomething()">Click</button>

<div [ngSwitch]="user.firstName">
  <p *ngSwitchCase="'Toto'">Je m'appelle Toto</p>
  <p *ngSwitchCase="'Jean'">Je m'appelle Jean</p>
  <p *ngSwitchDefault>Comment je m'appelle ?</p>
</div>

<h2 *ngIf="user.firstName === 'Jean'">Hello</h2>
<h2 *ngIf="user.firstName?.length > 4">Hello again</h2>

<app-catalogue-home [nom]="'Rick'" (speak)="spoke($event)"></app-catalogue-home>
<div app-catalogue-home [nom]="user.firstName"></div>

<p *ngFor="let phrase of result">
  {{ phrase }}
</p> -->

<!-- <app-formation-home></app-formation-home> -->

<!-- <app-explorer-list></app-explorer-list> -->

<!-- <app-formation-pipe-home></app-formation-pipe-home> -->

<app-album-view></app-album-view>
